<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog Reader</title>
</head>

<body>
    <form action="/submit-url" method="GET" id="search-form">
        <label for="site-search">Blog URL:</label>
        <input id="site-search" type="search" name="q">
        <button type="submit" id="btn-submit">Search</button>
    </form>
</body>

</html>
